/* RESET RULES  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* LAYOUT  */

html {
    font-family: "Roboto", sans-serif;
}

.container-full {
  width: 100%;
}
 
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.container-mid {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px 20px;
    align-items: center;
    justify-content: space-between
}

.big-text {
    font-size: 75px;
    font-weight: 800;
}

.container .container-mid > * {
    padding-top: 75px;
}

.first-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.first-section > * {
    font-size: 18px;
}
/* UTILITIES */

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.btn-blue {
    background-color: blue;
    padding: 10px 15px;
    color: white;
    width: max-content;
}

.col-100 {
    width: 100%;
}

.col-33 {
    width: 33%;
}

.col-66 {
    width: 66%;
}


.left-align {
    text-align: left;
}

.arrow-icon {
    font-size: 50px;;
}

.bg_lightblue {
    background-color: rgba(180, 208, 231, 1);
}
/* DEBUG  */

.debug {
    border: 2px solid black;
}